#
# System
#

# PIDs
*.pid
*.seed
*.pid.lock
pids

# File manager configs
.directory
Thumbs.db
.DS_Store

#
# Generic
#

# Build directory
dist/

# tmp files
temp/
tmp/

# Logs
logs/
*.log

# dotenv
.env
.env.*
!.env.example

# SQLite DB
*.db
*.db-journal

#
# JavaScript
#

# NPM / package managers
node_modules/
.npm/
.yarn-integrity

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Output of `npm pack`
*.tgz

# Lockfiles are not required for npm packages
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lockb
npm-shrinkwrap.json

# Node.js
.node_repl_history

# TypeScript
*.tsbuildinfo

# Frameworks
.next/
.nuxt/
out/
.svelte-kit/
.astro/

# Platforms
.wrangler/
.dev.vars
worker-configuration.d.ts

.vercel/
.netlify/

# ESLint
.eslintcache
