package-lock=false

# As of 2024/04/10, typescript-eslint does not support ESLint v9 yet.
# Therefore, you cannnot install `eslint` and `@typescript-eslint/*` packages at the same time for now.
# Until typescript-eslint support ESLint v9, enable legacy-peer-deps.
legacy-peer-deps=true
